<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:fragment="ConfigFragment">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>LifeSaver : We work for workers</title>

        <link rel="shortcut icon" type="image/x-icon" th:href="@{/dist/img/logo.png}" >
        <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
        <link rel="stylesheet" type="text/css" href="/dist/css/style.css">

        <!--
        <link rel="shortcut icon" href="/dist/img/logo.png" type="image/x-icon">
        <link th:inline="css" rel="stylesheet" type="text/css" th:href="@{https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css}">
        <link th:inline="css" rel="stylesheet" type="text/css" th:href="@{/dist/css/style.css}">
        -->


    </head>
</html>