<!doctype html>
<html lang="kr"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title> 혼자서 다했다! </title>
    <th:block layout:fragment="script">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    </th:block>

</head>
<div class="grid grid-cols-3 grid-flow-col p-6 gap-4 flex-auto">
    <div class="card col-span-2 row-span-1">
        <div class="card-header">
            <strong>산업 유형에 따른 사고</strong>
        </div>
        <div class="card-body">
            <div id="desasterChart">
            </div>
        </div>
    </div>
    <div class="card col-span-2 row-span-1 bg-blue-100">
        <div class="card-header">
            <strong>산업 유형에 따른 사고 예방법 교육자료</strong>
        </div>
        <div class="card-body">
            <ul class="grid w-full gap-6 md:grid-cols-3">
                <li>
                    <input type="checkbox" id="react-option" value="" class="hidden peer" required="">
                    <label for="react-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="block">
                            <div class="w-full text-lg font-semibold">교육자료 #1</div>
                            <div class="w-full text-sm">A JavaScript library for building user interfaces.</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="react-option" value="" class="hidden peer" required="">
                    <label for="react-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="block">
                            <div class="w-full text-lg font-semibold">교육자료 #1</div>
                            <div class="w-full text-sm">A JavaScript library for building user interfaces.</div>
                        </div>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="react-option" value="" class="hidden peer" required="">
                    <label for="react-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="block">
                            <div class="w-full text-lg font-semibold">교육자료 #1</div>
                            <div class="w-full text-sm">A JavaScript library for building user interfaces.</div>
                        </div>
                    </label>
                </li>
            </ul>

        </div>
    </div>
    <div class="row-span-2 bg-blue-400">
        <div id="SquareChart">
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        let SquareChartArr = new Array(0);
        let countInjury = new Array(100).fill(0);
        let countDie = new Array(100).fill(0);
        let categoryArr = new Array();
        let data;
        window.onload = function getDataAndRender(){
            $.get("dist/locationInfo.json", function(data) {
                let positions = data.positions;
                for (let item of positions) {
                    categoryArr.push(item.industrytype)
                    countDie[item.industrytype] += item.die;
                    countInjury[item.industrytype] += item.injury;
                }


                let temp_categoryArr = new Set(categoryArr);
                categoryArr = [...temp_categoryArr];

                for(let category_item of temp_categoryArr){
                    SquareChartArr.push({x:category_item,y:countDie[category_item]+countInjury[category_item]})
                }

                displayChart();
                displaySquareChart()
            }, "json").fail(function() {
                console.log("An error has occurred.");
            });
        }
        function displayChart(){
            let options = {
                chart: {
                    type: 'bar',
                    stacked:true,
                    toolbar : {
                        show:true
                    },
                    zoom : {
                        enabled: true
                    }
                },
                series: [{
                    name : '사망',
                    data: [countDie[35], countDie[41]]
                }, {
                    name : '부상',
                    data : [countInjury[35], countInjury[41]]
                }],
                plotOptions: {
                    bar: {
                        horizontal: false,
                        dataLabels: {
                            total: {
                                enabled: true,
                                style: {
                                    fontSize: '13px',
                                    fontWeight: 900
                                }
                            }
                        }
                    },
                },
                xaxis: {
                    categories: categoryArr
                },
                legend: {
                    position: 'right',
                    offsetY: 40
                },
                fill: {
                    opacity: 1
                }
            };
            let desasterChart = new ApexCharts(document.querySelector("#desasterChart"), options);
            desasterChart.render();
        }


        function displaySquareChart(){
            var options = {
                series: [
                    {
                        data: SquareChartArr
                    }
                ],
                legend: {
                    show: false
                },
                chart: {
                    type: 'treemap',
                    height: '100%'
                },
                title: {
                    align: 'center'
                },
                colors: [
                    '#3B93A5',
                    '#F7B844',
                    '#ADD8C7',
                    '#EC3C65',
                    '#CDD7B6',
                    '#C1F666',
                    '#D43F97',
                    '#1E5D8C',
                    '#421243',
                    '#7F94B0',
                    '#EF6537',
                    '#C0ADDB'
                ],
                plotOptions: {
                    treemap: {
                        distributed: true,
                        enableShades: false
                    }
                }
            };

            var squarechart = new ApexCharts(document.querySelector("#SquareChart"), options);
            squarechart.render();
        }
    </script>
</th:block>
</html>