<!doctype html>
<html lang="kr"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>
<div class="bg-gray-100 flex-1 p-6 md:mt-16">
    <div class="card">
        <!-- body -->
        <div class="card-body gap-6">
            <div id="desasterChart">

            </div>
        </div>
        <!-- end body -->

    </div>
</div>
<th:block layout:fragment="script">
    <script>
        var data = {
            "lat": 36.33884892276137,
            "lng": 127.393666019664,
            "date" : "2020.6.1",
            "name" : "(주)고려노벨화약",
            "location": "경남 고성군 마암면 당항만로 190(삼락리)",
            "reason" : "산업용 전기 뇌관 제조공정 내 자동화설비에서 저항치 불량이 발생한 뇌관들에 대해 휴대용 저항계를 사용하여 수동으로 저항을 재측정하는 작업과정에서 폭발사고 발생 ",
            "die" : 0,
            "injury" : 4
        };

        var options = {
            chart: {
                type: 'bar'
            },
            series: [{
                name: '사고',
                data: [data.die, data.injury]
            }],
            xaxis: {
                categories: ['사망', '부상']
            }
        };

        var desasterChart = new ApexCharts(document.querySelector("#desasterChart"), options);
        desasterChart.render();
    </script>
</th:block>
</html>