<!doctype html>
<html lang="kr"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title> 혼자서 북치고 장구치고 다했다! </title>
    <th:block layout:fragment="script">
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    </th:block>

</head>
<div class="grid grid-cols-3 lg:grid-cols-1 p-6 gap-4 flex-auto">
    <div class="card col-span-2 row-span-1">
        <div class="card-header">
            <strong>산업 유형에 따른 사고</strong>
        </div>
        <div class="card-body">
            <div id="desasterChart">
            </div>
        </div>
    </div>
    <div class="col-span-1 row-span-2 bg-yellow-400">
        <div id="SquareChart" class="m-2">
        </div>
    </div>
    <div class="card col-span-2 row-span-1 bg-yellow-100">
        <div class="card-header">
            <strong>산업 유형에 따른 사고 예방법 교육자료</strong>
        </div>
        <div class="card-body">
            <ul class="grid w-full gap-2">
                <li class="mx-2 mt-2" th:each="posts : ${postsList}">
                    <div class="card dropdown-buttonss flex flex-col items-center justify-between w-full p-5 text-gray-500 bg-white border-1 border-gray-200 cursor-pointer hover:text-gray-900 hover:bg-gray-50">
                        <h1 class="w-full text-lg font-semibold" th:text="${posts.title}">교육자료 #1</h1>
                        <div class="dropdown-contentss hidden w-full text-sm">
                            <div class="card-body">
                                <div class="w-full text-sm" th:utext="${@commonUtil.markdown(posts.contents)}">A JavaScript library for building user interfaces.</div>
                            </div>
                            <div class="card-footer flex justify-end w-full">
                                <a th:href="@{|/posts/edu/list/${posts.id}|}"><button class="confirm-btn p-2 mt-2 text-white bg-blue-500 rounded hover:bg-blue-700">링크로 이동</button></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
<th:block layout:fragment="script">
    <script>
        let SquareChartArr = new Array(0);
        let countInjury = new Array(100).fill(0);
        let countDie = new Array(100).fill(0);
        let categoryArr = new Array();
        let categoryForBarChart = new Array();
        let data;
        let filteredCountInjury = new Array(0);
        let filteredCountDie = new Array(0);

        let category = {
            6: "6-금속 광업",
            7: "7-비금속광물 광업",
            20: "20-화학 물질 및 화학제품 제조업",
            21: "21-의료용 물질 및 의약품 제조업",
            31: "31-기타 운송장비 제조업",
            40: "40-전기,가스, 증기",
            41: "41-건설업"
        }

        window.onload = function getDataAndRender(){
            $.get("dist/locationInfo.json", function(data) {
                let positions = data.positions;
                for (let item of positions) {
                    categoryArr.push(item.industrytype);
                    countDie[item.industrytype] += item.die;
                    countInjury[item.industrytype] += item.injury;
                }


                let temp_categoryArr = new Set(categoryArr);
                console.log(categoryArr)
                categoryArr = [...temp_categoryArr];
                categoryArr = categoryArr.sort((a,b)=>a-b);
                console.log(categoryArr)

                for(let category_item of categoryArr){
                    categoryForBarChart.push(category[category_item]);
                    SquareChartArr.push({x:category[category_item],y:countDie[category_item]+countInjury[category_item]})
                    console.log(category_item + " = " + countDie[category_item] + " : " + countInjury[category_item]+"\n");
                }

                for(let i = 0; i < countInjury.length; i++) {
                    if(countInjury[i] + countDie[i] > 0) {
                        filteredCountInjury.push(countInjury[i]);
                        filteredCountDie.push(countDie[i]);
                    }
                }

                console.log(filteredCountInjury + "\n" + filteredCountDie);
                console.log(SquareChartArr);
                console.log(categoryForBarChart);

                displayChart();
                displaySquareChart()
            }, "json").fail(function() {
                console.log("An error has occurred.");
            });
        }
        function displayChart(){
            let options = {
                chart: {
                    type: 'bar',
                    stacked:true,
                    toolbar : {
                        show:true
                    },
                    zoom : {
                        enabled: true
                    }
                },
                series: [{
                    name : '사망',
                    data: filteredCountDie
                }, {
                    name : '부상',
                    data : filteredCountInjury
                }],
                plotOptions: {
                    bar: {
                        horizontal: false,
                        dataLabels: {
                            total: {
                                enabled: true,
                                style: {
                                    fontSize: '13px',
                                    fontWeight: 900
                                }
                            }
                        }
                    },
                },
                xaxis: {
                    categories: categoryForBarChart
                },
                legend: {
                    position: 'right',
                    offsetY: 40
                },
                fill: {
                    opacity: 1
                }
            };
            let desasterChart = new ApexCharts(document.querySelector("#desasterChart"), options);
            desasterChart.render();
        }


        function displaySquareChart(){
            var options = {
                series: [
                    {
                        data: SquareChartArr
                    }
                ],
                legend: {
                    show: false
                },
                chart: {
                    type: 'treemap',
                    height: '100%'
                },
                title: {
                    text:"유형별 트리맵",
                    align: 'left'
                },
                colors: [
                    '#3B93A5',
                    '#F7B844',
                    '#ADD8C7',
                    '#EC3C65',
                    '#CDD7B6',
                    '#C1F666',
                    '#D43F97',
                    '#1E5D8C',
                    '#421243',
                    '#7F94B0',
                    '#EF6537',
                    '#C0ADDB'
                ],
                plotOptions: {
                    treemap: {
                        enableShades:true,
                        shadeIntensity: 0.5,
                        reverseNegativeShade: true,
                        distributed: true,
                        enableShades: false
                    }
                }
            };

            var squarechart = new ApexCharts(document.querySelector("#SquareChart"), options);
            squarechart.render();
        }
        $(document).ready(function(){
            $('.dropdown-buttonss').click(function(){
                $(this).find('.dropdown-contentss').toggleClass('hidden');
            });
        });
    </script>
</th:block>
</html>