<!doctype html>
<html lang="kr"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
<th:block layout:fragment="css">
    <style>
        .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
        .wrap * {padding: 0;margin: 0;}
        .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
        .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
        .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
        .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
        .info .close:hover {cursor: pointer;}
        .info .body {position: relative;overflow: hidden;   }
        .info .desc {position: relative; margin: 13px 0 0 90px;height: 75px; overflow: scroll; word-break:break-all;}
        .desc .ellipsis {overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
        .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
        .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
        .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
        .info .link {color: #5085BB;}
    </style>
</th:block>
<th:block layout:fragment="script">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</th:block>
    <!-- strat content -->
    <div class="bg-gray-100 flex-1 p-6 md:mt-16">
        <div class="card">
            <!-- body -->
            <div class="card-body gap-6">
                <div id="map" style="width:100%; height:500px;">
                    .
                </div>
            </div>
            <!-- end body -->

        </div>
        <!-- end Sales Overview -->



        <!-- start quick Info -->
        <div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">


            <!-- Browser Stats -->
            <div class="card">
                <div class="card-header">Browser Stats</div>

                <!-- brawser -->
                <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b">
                    <div class="flex items-center">
                        <i class="fab fa-chrome mr-4"></i>
                        <h1>google chrome</h1>
                    </div>
                    <div>
                        <span class="num-2"></span>%
                    </div>
                </div>
                <!-- end brawser -->

                <!-- brawser -->
                <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b">
                    <div class="flex items-center">
                        <i class="fab fa-firefox mr-4"></i>
                        <h1>firefox</h1>
                    </div>
                    <div>
                        <span class="num-2"></span>%
                    </div>
                </div>
                <!-- end brawser -->

                <!-- brawser -->
                <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b">
                    <div class="flex items-center">
                        <i class="fab fa-internet-explorer mr-4"></i>
                        <h1>internet explorer</h1>
                    </div>
                    <div>
                        <span class="num-2"></span>%
                    </div>
                </div>
                <!-- end brawser -->

                <!-- brawser -->
                <div class="p-6 flex flex-row justify-between items-center text-gray-600 border-b-0">
                    <div class="flex items-center">
                        <i class="fab fa-safari mr-4"></i>
                        <h1>safari</h1>
                    </div>
                    <div>
                        <span class="num-2"></span>%
                    </div>
                </div>
                <!-- end brawser -->

            </div>
            <!-- end Browser Stats -->

            <!-- Start Recent Sales -->
            <div class="card col-span-2 xl:col-span-1">
                <div class="card-header">Recent Sales</div>

                <table class="table-auto w-full text-left">
                    <thead>
                    <tr>
                        <th class="px-4 py-2 border-r"></th>
                        <th class="px-4 py-2 border-r">product</th>
                        <th class="px-4 py-2 border-r">price</th>
                        <th class="px-4 py-2">date</th>
                    </tr>
                    </thead>
                    <tbody class="text-gray-600">

                    <tr>
                        <td class="border border-l-0 px-4 py-2 text-center text-green-500"><i class="fad fa-circle"></i>
                        </td>
                        <td class="border border-l-0 px-4 py-2">Lightning to USB-C Adapter Lightning.</td>
                        <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class="num-2"></span> minutes ago</td>
                    </tr>
                    <tr>
                        <td class="border border-l-0 px-4 py-2 text-center text-yellow-500"><i
                                class="fad fa-circle"></i></td>
                        <td class="border border-l-0 px-4 py-2">Apple iPhone 8.</td>
                        <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class="num-2"></span> minutes ago</td>
                    </tr>
                    <tr>
                        <td class="border border-l-0 px-4 py-2 text-center text-green-500"><i class="fad fa-circle"></i>
                        </td>
                        <td class="border border-l-0 px-4 py-2">Apple MacBook Pro.</td>
                        <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class="num-2"></span> minutes ago</td>
                    </tr>
                    <tr>
                        <td class="border border-l-0 px-4 py-2 text-center text-red-500"><i class="fad fa-circle"></i>
                        </td>
                        <td class="border border-l-0 px-4 py-2">Samsung Galaxy S9.</td>
                        <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class="num-2"></span> minutes ago</td>
                    </tr>
                    <tr>
                        <td class="border border-l-0 px-4 py-2 text-center text-yellow-500"><i
                                class="fad fa-circle"></i></td>
                        <td class="border border-l-0 px-4 py-2">Samsung Galaxy S8 256GB.</td>
                        <td class="border border-l-0 px-4 py-2">$<span class="num-2"></span></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"><span class="num-2"></span> minutes ago</td>
                    </tr>
                    <tr>
                        <td class="border border-l-0 border-b-0 px-4 py-2 text-center text-green-500"><i
                                class="fad fa-circle"></i></td>
                        <td class="border border-l-0 border-b-0 px-4 py-2">apple watch.</td>
                        <td class="border border-l-0 border-b-0 px-4 py-2">$<span class="num-2"></span></td>
                        <td class="border border-l-0 border-b-0 border-r-0 px-4 py-2"><span class="num-2"></span>
                            minutes ago
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <!-- End Recent Sales -->


        </div>
        <!-- end quick Info -->


    </div>
    <!-- end content -->

</div>
<!-- end wrapper -->

<!-- script -->
<th:block layout:fragment="script">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e84b0c73aea2cab493eea20db9ff263f&libraries=clusterer"></script>
    <script>
        var mapContainer = document.getElementById('map');
        var mapOption = {
            center: new kakao.maps.LatLng(37.27943075229118, 127.01763998406159),
            level: 10
        };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        var clusterer = new kakao.maps.MarkerClusterer({
            map: map,
            averageCenter: true,
            minLevel: 10
        });

        $.get("dist/locationInfo.json", function (data) {
            var markers = data.positions.map(function (position) {
                var marker =  new kakao.maps.Marker({
                    title : position.name+","+position.reason,
                    position: new kakao.maps.LatLng(position.lat, position.lng),
                    clickable: true
                });

                addMarkerEvent(marker, map);

                return marker;
            });

            clusterer.addMarkers(markers);
        });

        function addMarkerEvent(marker, map) {
            const word = marker.getTitle().split(',');
            var content = '<div class="wrap">' +
                '    <div class="info">' +
                '        <div class="title">' + word[0] +
                '            <div class="close" title="닫기"></div>' +
                '        </div>' +
                '        <div class="body">' +
                '            <div class="img">' +
                '                <img src="/dist/img/logo.png" width="73" height="70">' +
                '           </div>' +
                '            <div class="desc">' +
                '                <div><a href="https://www.kakaocorp.com/main" target="_blank" class="link">'+ word[1] +'</a></div>' +
                '            </div>' +
                '        </div>' +
                '    </div>' +
                '</div>';

            var overlay = new kakao.maps.CustomOverlay({
                content: content,
                map: null,
                position: marker.getPosition()
            });

            kakao.maps.event.addListener(marker, 'click', function() {
                overlay.setMap(map);
            });

            $(overlay.a).find('.close').click(function() {
                overlay.setMap(null);
            });
        }
    </script>
</th:block>
</html>
