<!doctype html>
<html lang="kr"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
<!-- strat content -->
<div class="bg-gray-100 flex-1 p-6 md:mt-16 grid">
    <div class="col-span-6 card flex flex-col">

        <div class="px-3 border-b">
            <form action="" class="flex">
                <input class="p-3 flex-1" type="text" placeholder="검색">
                <button type="submit" class="p-3" th>
                    <i class="fad fa-search"></i>
                </button>
            </form>
        </div>

        <div class="flex-1 flex-col justify-center p-3">
            <div th:each="posts : ${postsList}">
                <!-- message -->
                <a th:href="@{|/posts/edu/list/${posts.id}|}">
                    <div class="flex items-center shadow-xs transition-all duration-300 ease-in-out p-5 hover:shadow-md"
                         th:if="${posts != null}">
                        <div class="w-10 h-10 overflow-hidden rounded-md">
                            <img class="img-responsive" src="/dist/img/logo.png" alt="">
                        </div>
                        <h1 class="ml-3" th:text="${posts.title}"></h1>
                        <p class="ml-6 flex-1 text-xs" th:text="${posts.contents}"></p>
                        <p class="font-bold text-gray-900 overflow-hidden" th:text="${posts.createTime}"></p>
                    </div>
                </a>
                <!-- message -->
            </div>

        </div>

        <div class="card-footer flex justify-center">
            <nav aria-label="Page navigation">
                <ul class="inline-flex -space-x-px text-base h-10">
                    <li>
                        <a href="#" aria-current="page" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">이전</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">1</a>
                    </li>
                    <li>
                        <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
<!-- end content -->

</div>
<!-- end wrapper -->

</html>
