<!doctype html>
<!doctype html>
<html lang="kr"
      xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/defaultLayout}"
      layout:fragment="Content"
>
  <!-- strat content -->
  <div class="bg-gray-100 flex-1 p-6 md:mt-16">
    content here
  </div>
  <!-- end content -->

</div>
<!-- end wrapper --> 

  

<!-- script -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="../static/dist/js/scripts.js"></script>
<!-- end script -->

</body>
</html>
